@import "../../style/common.less";
@prefix-cls: ~"components-button";

.@{prefix-cls} {
  background: @color-info;
  color: #fff;
  width: auto;
  // display: inline-block;
  border-radius: @border-radius-base;
  // padding: 0rpx 34rpx;
  // line-height: 59rpx;
  // font-size: 22rpx;
}
