@import "../../style/common.less";
@prefix-cls: ~"components-button";

.@{prefix-cls} {
  background: @color-primary;
  color: #fff;
  width: auto;
  display: inline-block;
  border-radius: @border-radius-base;
  padding: 0px 34px;
  line-height: 56px;
  font-size: 26px;
  background-image: linear-gradient(-90deg, #F5BE9C 0%,#F8D0B7 100%);
  &::after{
    border: none;
  }
}
