@import "../../style/common.less";
.page-fetch{
  padding: 30px;
  min-height: calc(100vh - 60px);
  .page-footer{
    font-size: 30px;
    color: @font-color-thin;
    text-align: center;
    margin-bottom: 74px;
  }
}
