@import "../../../../style/common.less";
.page-address{
  padding-top: 20rpx;
  background: #ffffff;
  .page-content-top{
    background: @bj-background-default;
    padding-top: 20rpx;
    padding-bottom: 20rpx;
  }
  &-location{
    display: flex;
    flex:1;
    flex-direction: row;
    align-items: center;
    &-content{
      flex:1;
    }
    .placeholder{
      color: @font-color-thin;
    }
  }
  &-switch{
    display: flex;
    flex:1;
    justify-content: flex-end;
    switch{
      width: 76rpx;
      height: 37rpx;
    }
  }
  .page-footer{
    padding: 30rpx;
  }
}
