@import "../../style/common.less";
@prefix-cls: ~"components-menu";

.@{prefix-cls} {
  display: flex;
  flex: 1;
  flex-direction: row;
  background-color: #ffffff;
  font-size: 26px;
  color: @font-color-thin;
  &-sider {
    min-width: 160px;
    max-width: 160px;
    color: #888888;
    font-size: 26px;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    &-item {
      padding: 53px 23px;
      &-active {
        color: @font-color-2;
        background-color: #ffffff;
      }
    }
  }
  &-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    background: #ffffff;
    padding: 0 20px;
    image {
      width: 550px;
      height: 280px;
      opacity: 0.97;
    }
    &-swiper {
      margin-top: 16px;
      margin-bottom: 16px;
    }
    &-list {
      &-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 22px;
        padding-top: 19px;
        padding-bottom: 22px;
        color: @font-color-2;
        .icon-hot {
          width: 13px;
          height: 15px;
          margin-left: 5px;
        }
      }
    }
  }
}
