@import "../../../../../style/common.less";
@prefix-cls: ~"page-address-slide";

.@{prefix-cls} {
  display: flex;
  flex-direction: row;
  background: #ffffff;
  box-sizing: border-box;
  &-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 100vw;
    min-width: 100vw;
    padding-top: 21rpx;
    padding-bottom: 15rpx;
    padding-left: 30rpx;
    &-top {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-bottom: 18rpx;
      &-name {
        font-weight: 400;
        font-size: 28rpx;
        line-height: 28rpx;
        color: @font-color-2;
        padding-right: 18rpx;
      }
      &-phone {
        font-weight: 400;
        font-size: 22rpx;
        line-height: 22rpx;
        color: @font-color-thin;
      }
    }
    &-bottom {
      font-size: 26rpx;
      line-height: 26rpx;
      font-weight: 400;
    }
  }
  &-extra {
    overflow: hidden;
    width: 130rpx;
    min-width: 130rpx;
    background: #ff4a4a;
    font-size: 28rpx;
    line-height: 28rpx;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.@{prefix-cls}-animate {
  transition: 0.2s;
}
