@import "../../style/common.less";
@prefix-cls: ~"components-switch";

.@{prefix-cls} {
  display: flex;
  align-items: center;
  flex-direction: row;
	background-color: #f6f6f6;
	border-radius: 30rpx;
  border: solid 1rpx #e7e7e7;
  padding: 5rpx 5rpx  5rpx 5rpx;
  font-size: 0;
  &-arrow{
    &-left,&-right{
      font-size: 26rpx;
      color: @font-color-thin;
      padding: 13rpx 23rpx;
      border-radius: 25rpx;
    }
    &-active{
      background: #000000;
      color: #ffffff;
    }
  }
}
